#collab {
    background-color: #f3f3f3;

    .doc-page{
        border:1px solid #ababab;
        min-height: 1122px;
        width: 600px;
        padding: 80px 100px;
        margin-left: auto;
        margin-right: auto;
        border-top-style: solid;
        border-bottom-style: solid;
        background-color:#fff;
        text-align: left;
    }

    doc:focus{
        outline: none;
    }

    doc{
        min-height: calc(1122px - 160px);
        width:100%;
        text-align: left;
    }

    .document{
        background-color: #f3f2f1;
        width:100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    textarea {
        width: 100%;
        height:40vh;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        border: #bbbbbb solid 1px;    
        resize: none;
    }

    textarea:focus{
        border: #bbbbbb solid 1px;    
    }

    .bandeau {
        height: 48px;
        background-color: rgb(43, 87, 154);
        position: relative;
    }

    .bandeau p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        color: #fff;
        font-weight: 600;
    }

    .outil {
        height: 30px;
        background-color: #f3f2f1;
        width: 100%;
        box-shadow: 0px 1px 3px grey;
        width:100%;
    }

    .outil > div{
        display:flex;
        height:100%;
        width:200px;
        margin-left: 10px;
    }

    .outil svg{
        padding-top: 5px;
        padding-bottom: 5px;
        height:calc(100% - 10px);
    }

    .outil svg:hover{
        opacity:0.7;
        cursor:pointer;
    }

    .static-div{
        position:sticky;
        top:0;
    }

    .home-icon{
        position: absolute;
        right: 10px;
        top:50%;
        transform: translate(0,-50%);
        width:30px;
        cursor: pointer;
    }

    .home-icon:hover{
        opacity:0.8;
    }

    .btn-div{
        height:100%;
    }

    .outil button{
        height:100%;
        width: 40px;
        border:none;
    }

    .outil button:hover,
    .outil button:focus{
        background-color:#dbdbdb;
        outline:none;
    }

    doc a{
        cursor: pointer;
    }
    
}